%h1 New trial

= render 'form', trial: @trial

- if current_user.present?
  = link_to 'All trials', committee_trials_path(@committee)
- else
  = link_to @committee.name, committee_path(@committee),
  class: 'btn btn-primary'
