.row.second-bar
  = render template: 'shared/breadcrumbs',
  locals: { final_title: t(:new_trial) }

.row
  = render 'form', trial: @trial, ranks: @committee.ranks,
  environments: @committee.environments

= render 'formal_conditions_modal' if @committee.formal_conditions.present?
