.row.second-bar
  = render template: 'shared/breadcrumbs', locals: { final_title: 'Show' }

.row
  .col-md-4.offset-md-4
    .ls60
    = render 'form', committee: @committee

    = link_to 'Back', committees_path, class: 'btn btn-secondary'
